{
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "conventionalcommits",
      "releaseRules": [
        {"breaking": true, "release": 'major'},
        {"type": "docs", "scope":"README", "release": "patch"},
        {"type": "refactor", "release": "patch"},
        {"type": "improvement", "release": "patch"},
        {"type": "build", "release": "patch"},
        {"type": "perf", "release": "patch"},
      ],
      "parserOpts": {
        "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
      }
    }],
    ["@semantic-release/release-notes-generator", {
      "preset": "conventionalcommits",
      "presetConfig": {
        "types": [
          {
            "type": "feat",
            "section": ":sparkles: News",
            "hidden": false
          },
          {
            "type": "fix",
            "section": ":bug: Fixes",
            "hidden": false
          },
          {
            "type": "docs",
            "section": ":memo: Documentation",
            "hidden": false
          },
          {
            "type": "refactor",
            "section": ":recycle: Refactors",
            "hidden": false
          },
          {
            "type": "perf",
            "section": ":zap: Performance",
            "hidden": false
          },
          {
            "type": "improvement",
            "section": ":art: Improvements",
            "hidden": false
          },
          {
            "type": "build",
            "section": ":building_construction: Build",
            "hidden": false
          }
        ]
      }
    }],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    ["@semantic-release/git", {
      "assets": ["package.json", "CHANGELOG.md"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    "@semantic-release/github"
  ]
}
