language: node_js
node_js:
  - 10
  - 11
  - 12
  - 13

cache:
  yarn: true
  directories:
    - node_modules

script:
  - yarn run lint
  - yarn run coveralls
  - yarn run build

jobs:
  include:
    # Define the release stage that runs semantic-release
    - stage: release
      node_js: lts/*
      # Advanced: optionally overwrite your default `script` step to skip the tests
      # script: skip
      deploy:
        provider: script
        script:
          - yarn run semantic-release
